.search-container{
    background-color: rgba(5, 5, 5, 0.678);
    text-align: center;
    line-height:  40px;
}
.search-container input{
    width: 75%;
    border-radius: 5px;
    padding: 5px;
}
.shop{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.shop-container{
    border-right: 1px solid lightgray;
    margin-right: 5px;
    margin-left: 60px;
    
}
.cart-container{
    text-align: center;
}

